{% extends "layout.html" %}

{% block body %}
	{% if form.url.errors %}
		<body>
			<div class="headers">
				<a class="title" href="{{ url_for('index') }}">tiny0</a>
				<h1 class="desc">Custom URL Shortener</h1>
			</div>
	{% else %}
		<body onload="typeTitle()">
			<div class="headers">
				<a class="title" id="title" href="{{ url_for('index') }}"></a>
				<h1 id="desc" class="desc"></h1>
			</div>
	{% endif %}

			<div class="container">
				<form method="POST" action="">
					{{ form.hidden_tag() }}
					<div class="inputs">
						{{ form.url(placeholder="Enter the URL here", class="url") }}
						{{ form.submit(class="button") }}
					</div>
				</form>
				{% if form.url.errors %}
					{% for error in form.url.errors %}
						<p class="url-error-message">{{ error }}</p>
					{% endfor %}
				{% endif %}
			</div>

		{% if not form.url.errors %}
			<script>
				var i = 0;
				var title_text = "tiny0";
				var desc_text = "Custom URL Shortener";
				var speed = 120;

				function typeTitle() {
					if (i < title_text.length) {
					    document.getElementById("title").innerHTML += title_text.charAt(i);
					    i++;
					    setTimeout(typeTitle, speed);
					}
					else {
						i = 0;
						setTimeout(typeDesc, 200)
					}
				}

				function typeDesc() {
					if (i < desc_text.length) {
					    document.getElementById("desc").innerHTML += desc_text.charAt(i);
					    i++;
					    setTimeout(typeDesc, speed);
					}
				}
			</script>
		{% endif %}
	</body>
{% endblock %}
