{% extends "layout.html" %}

{% block body %}
<form method="POST" action="" class="url-form">
	<h1>&#60 Report &#62</h1>
	{{ form.hidden_tag() }}
	{{ form.url(placeholder="Enter the short URL", autofocus=true, class="feedback-input") }} 
	{{ form.message(placeholder="Enter a short message explaining the reason of your report", class="feedback-input") }}
	{{ form.submit(class="button") }}
	{% if form.errors %}
		<div class="form-errors">
			{% for error in form.url.errors %}
				<h4>{{ error }}</h4>
			{% endfor %}
			{% for error in form.message.errors %}
				<h4>{{ error }}</h4>
			{% endfor %}
		</div>
	{% endif %}
</form>
{% endblock %}
