body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: #121212;
}

.form {
	background: #2c2c2c;
	border-radius: 15px;
	padding: 7% 0;
	position: absolute;
	width: 85%;
	top: 30%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.url {
	background: #121212;
	border: 2px solid #bb86fc;
	border-radius: 5px;
	padding: 2% 2%;
	width: 50%;
	margin-left: 2%;
	color: #ffffff;
}

.url:focus {
	border-color: #7b59a5;
}

.submit {
	background: #bb86fc;
	border: 2px solid #bb86fc;
	border-radius: 5px;
	padding: 1% 1%;
	display: inline-block;
	margin: 1% 1% 0px 1%;
	color: #000000;
	font-weight: bold;
	font-size: 120%;
}

.submit:hover {
	background: #7b59a5;
	border-color: #7b59a5;
}