* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: #121212;

}

.header {
    color: #ffffff;
    text-align: center;
    margin-top: 5%;
}

.title {
    font-weight: bold;
    font-size: 50px;
}

.desc {
    margin-top: 1%;
}

.container {
    background-color: #2c2c2c;
    border-radius: 8px;
    padding: 30px 0px;
    box-shadow: 0px 10px 20px #000000;
    width: 80vw;
    height: auto;
    margin: 10% auto 0 auto;
}

.inputs {
    display: flex;
    justify-content: center;
}

.url {
    background: #121212;
    border: 2px solid #bb86fc;
    color: #ffffff;
    width: 60%;
    padding: 10px 10px;
    margin-left: 3%;
}

.url:focus {
    border-color: #7b59a5;
}

.submit {
    background: #bb86fc;
    border: 2px solid #bb86fc;
    border-radius: 3px;
    color: #000000;
    display: inline-block;
    padding: 0 1% 0 1%;
    margin: 0 3% 0 1%;
}

.submit:hover {
    background: #7b59a5;
    border-color: #7b59a5;
}
